@keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
}

@keyframes bounce {
  0%, 92% {transform: translateY(0);}
  95% {transform: translateY(-10px);}
  96% {transform: translateY(0px);}
  97% {transform: translateY(-4px);}
  98% {transform: translateY(0px);}
  99% {transform: translateY(-2px);}
  100% {transform: translateY(0);}
}

.ScrollToBottomButton {
  display: flex;
  justify-content: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  position: fixed;
  bottom: 77px;
  right: 11px;
  background: white;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  box-shadow: 0px 0px 8px -5px #000000;
  opacity: 0;
  animation: fadeIn 0.25s;
  animation-fill-mode: forwards;
  cursor: pointer;
  img {
    padding:7px;
    animation: bounce 8s infinite
  }
  @media only screen and (min-width: 800px) {
    right: 20px;
    width: 64px;
    height: 64px;
    img {
      padding:10px;
    }
  }

}