.SearchBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f0f2f5;
  padding: 9px;
  width: 100%;
  form {
    input {
      padding: 10px;
      border: 1px solid #dddddd;
      width: 93%;
      max-width: 800px;
      font-size: 16px;
      &:focus {
        outline: none;
        border-radius: 8px;
      }
      &::placeholder {
        color: #282828;
      }
    }
  }
}