@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeInToLeft {
  0% { opacity: 0; transform: translate(30px, 0); }
  100% { opacity: 1; transform: translate(0px, 0); }
}
@keyframes fadeInToRight {
  0% { opacity: 0; transform: translate(-30px, 0); }
  100% { opacity: 1; transform: translate(0px, 0); }
}

.SpeechBubble {
  padding: 8px 15px 28px;
  margin: 4px 6.5%;
  max-width: 70%;
  
  position: relative;
  flex: 0 0 auto;
  text-align: left;
  white-space: pre-line;
  box-shadow: 0 1px .5px #00000038;
  p {
    font-size: 17px;
    margin: 0;
  }
  ul {
    display: grid;
    margin:0;
  }

  &::before {
    content: "";
      width: 0px;
      height: 0px;
      position: absolute;
      top: 0;
  }

  &.question {
    background-color: #d4fac1;
    border-radius: 7.5px 0 7.5px 7.5px;
    align-self: end;
    &.fade {
      opacity: 0;
      animation: fadeInToRight 0.8s;
      animation-fill-mode: forwards;
    }
    &::before {
      right: -16px;
      border-left: 15px solid #d4fac1;
      border-right: 15px solid transparent;
      border-top: 15px solid #d4fac1;
      border-bottom: 15px solid transparent;
    }
  }

  &.answer {
    background-color: #f9f9f9;
    border-radius: 0 7.5px 7.5px 7.5px;
    align-self: start;
    &.fade{
      opacity: 0;
      animation: fadeInToLeft 0.8s;
      animation-fill-mode: forwards;
    }
    
    &::before {
      left: -16px;
      border-left: 15px solid transparent;
      border-right: 15px solid #f9f9f9;
      border-top: 15px solid #f9f9f9;
      border-bottom: 15px solid transparent;
    }
  }

  &.option {
    cursor: pointer;
    background-color: #faf5c1;
    border-radius: 7.5px 7.5px 7.5px 7.5px;
    align-self: center;
    max-width: 400px;
    &.fade{
      opacity: 0;
      animation: fadeIn 0.5s;
      animation-fill-mode: forwards;
    }
  }

  .Timestamp {
    position: absolute;
    bottom: 4px;
    right: 8px;
    font-size: 13px;
    color: #848484;
  }
  hr {
    background-color: #c4c4c4;
    height: 1px;
    border: 0;
    margin: 11px 0px;
  }
  .creditsBar {
    display: flex;
    justify-content: space-between;
    max-width: 240px;
    margin: 0 auto;
    a {
      padding: 9px;
      background-color: #0CAB9B;
      border-radius: 100px;
      display: flex;
      cursor: pointer;
    }
    img {
      filter: invert(37%) sepia(7%) saturate(0%) hue-rotate(273deg) brightness(94%) contrast(92%);
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(14deg) brightness(102%) contrast(102%);
      width: 30px; 
    }
    

  }

  
}


