@keyframes fadeInAnswer {
  0% { opacity: 0; transform: translate(30px, 0); }
  66% { opacity: 0; transform: translate(30px, 0); }
  100% { opacity: 1; transform: translate(0px, 0); }
}
@keyframes fadeInQuestion {
  0% { opacity: 0; transform: translate(-30px, 0); }
  100% { opacity: 1; transform: translate(0px, 0); }
}

.SpeechBubble {
  padding: 8px 15px 28px;
  margin: 10px 6.5%;
  max-width: 70%;
  font-size: 18px;
  position: relative;
  flex: 0 0 auto;
  text-align: left;
  white-space: pre-line;

  &::before {
    content: "";
      width: 0px;
      height: 0px;
      position: absolute;
      top: 0;
  }

  &.question, &.option {
    background-color: #d4fac1;
    border-radius: 7.5px 0 7.5px 7.5px;
    align-self: end;
    &.fade {
      animation: fadeInQuestion 0.8s;
    }
    &::before {
      right: -16px;
      border-left: 15px solid #d4fac1;
      border-right: 15px solid transparent;
      border-top: 15px solid #d4fac1;
      border-bottom: 15px solid transparent;
    }
  }

  &.answer {
    background-color: #f9f9f9;
    border-radius: 0 7.5px 7.5px 7.5px;
    align-self: start;
    &.fade{
      animation: fadeInAnswer 2.4s;
    }
    
    &::before {
      left: -16px;
      border-left: 15px solid transparent;
      border-right: 15px solid #f9f9f9;
      border-top: 15px solid #f9f9f9;
      border-bottom: 15px solid transparent;
    }
  }

  .Timestamp {
    position: absolute;
    bottom: 4px;
    right: 8px;
    font-size: 13px;
    color: #848484;
  }

  &.option {
    cursor: pointer;
  }
}


